/* MovieCard.css */
.movie-card {
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .movie-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .movie-card h2 {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .movie-card p {
    font-size: 0.9rem;
    margin: 10px 0;
  }
  
  .movie-card p.rating {
    font-weight: bold;
    color: #f39c12;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }

  .button {
    background-color: #b8bec2;
    color: #2c17e6;
    padding: 10px 20px;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  